SAMPLE_COMPARTMENT_OCID= #adicione seu OCID neste campo
SAMPLE_AD_NAME= #adicione o nome do seu Tenancy ativo
SAMPLE_INSTANCE_SHAPE= #Tipo de instancia você quer criar, por padrão o script coloca "VM.Standard2.1"